.wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 30px;
  	width: 80%;
	margin: 2% auto;
  }
  
  .product-area {
	flex: 1 1 calc(30% - 30px);
  
	/* Ajuste flexible para 3 columnas, restando el espacio del gap */
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	position: relative;
	overflow: hidden;
	background-color: #fff;
	border-radius: 25px;
	transition: transform 0.3s ease;
  
	/* Transición para efecto hover */
	display: flex;
	flex-direction: column;
  
	&:hover {
	  transform: scale(1.05);
  
	  /* Efecto hover para hacer zoom */
	}
  }
  
  .img-area {
	position: relative;
	width: 100%;
	overflow: hidden;
  
	img {
	  width: 100%;
	  height: auto;
	  display: block;
	}
  }
  
  .product-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	background-color: rgba(0, 0, 0, 0.6);
	transition: opacity 0.5s ease;
  }
  
  .product-area:hover .product-overlay {
	opacity: 0.9;
  }
  
  .overlay {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
  }
  
  .btn-1 {
	display: inline-block;
	padding: 10px 20px;
	background-color: #09ff00;
	color: #000000;
	font-size: 14px;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
  }
  
  .info-area {
	padding: 10px 20px;
	text-align: center;
	background: #000;
	flex-grow: 1;
  
	/* Permite que el contenido crezca para ocupar el espacio restante */
  
	h3 {
	  font-size: 30px;
	  margin: 0;
	  margin-bottom: 10px;
	  color: #fff;
	  font-family: "Bebas Neue", sans-serif;
	}
  }
  
  .rating {
	margin-bottom: 10px;
  
	span {
	  color: #fff;
	}
  }
  
  .checked {
	color: orange !important;
  }
  
  .product-price {
	font-size: 25px;
	color: #fff;
	font-weight: bold;
	margin-bottom: 10px;
  }
  
  .tienda {
	color: #000000;
	padding-top: 50px;
	margin-left: 50px;
	margin-right: 50px;
  
	a {
	  text-decoration: none;
	}
  
	.contenido-seccion {
	  display: flex;
	  flex-direction: column;
	  align-items: center;
	  text-align: center;
	}
  
	.contenedor-titulo {
	  display: flex;
	  flex-direction: column;
	  align-items: center;
  
	  .info {
		margin-left: 15px;
  
		.frase {
		  color: #09ff00;
		  text-align: center;
		  font-size: 4rem;
		  font-weight: 600;
		}
  
		h2 {
		  font-size: 2.5rem;
		  color: #000000;
		  text-align: center;
		}
	  }
	}
  }
  
  .subtitulo {
	font-size: 24px;
  }
  
  .tienda .contenedor-titulo .info p {
	margin-bottom: 10px;
	line-height: 28px;
	font-size: 2rem;
	color: #000000;
	text-align: center;
  }
  
  .inicio-equipamiento {
	.info h2 {
	  font-size: 50px;
	  letter-spacing: 3px;
	}
  
	.opciones {
	  display: none;
	}
  
	height: 100vh;
	width: 100%;
	animation: gradient 15s ease infinite;
	color: #fff;
	position: relative;
  }
  
  .video-container {
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
  
	video {
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%, -50%);
	  min-width: 100%;
	  min-height: 100%;
	  z-index: -1;
	}
  }
  
  .video-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 0;
  }
  
  @media (max-width: 768px) {
	.video-container video {
	  width: auto;
	  height: 100%;
	  min-width: initial;
	  min-height: initial;
	}
  }
  
  .inicio-equipamiento {
	.contenido-seccion {
	  max-width: 1100px;
	  margin: auto;
	}
  
	.info {
	  width: fit-content;
	  margin: auto;
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%, -50%);
	  text-align: center;
  
	  h2 {
		font-size: 2rem;
		letter-spacing: 3px;
	  }
  
	  p {
		margin: 20px;
		color: #ffffff;
		font-size: 16px;
		letter-spacing: 3px;
		text-transform: uppercase;
	  }
  
	  .btn-mas {
		width: 50px;
		margin: auto;
		height: 50px;
		border: 2px solid #09ff00;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		color: #09ff00;
		margin-top: 50px;
		text-decoration: none;
	  }
	}
  
	.opciones .opcion {
	  border-top: 2px solid #ffffff;
	  padding: 7px;
	  color: #ffffff;
	  margin: 0 20px;
	}
  }
  
  .opciones {
	position: absolute;
	display: flex;
	justify-content: space-between;
	bottom: 30px;
	left: 50%;
	transform: translateX(-50%);
  }
  
  @media (max-width: 768px) {
	.product-area {
	  flex: 1 1 calc(48% - 30px);
  
	  /* Ajuste flexible para 2 columnas, restando el espacio del gap */
	}
  
	.tienda {
	  color: #000000;
	  padding-top: 50px;
	  margin-left: 50px;
	  margin-right: 50px;
  
	  .contenedor-titulo .info {
		.frase {
		  font-size: 2.3rem;
		  font-weight: 600;
		}
  
		h2 {
		  font-size: 2.3rem;
		}
  
		p {
		  font-size: 20px;
		}
	  }
	}
  }
  
  @media (max-width: 576px) {
	.product-area {
	  flex: 1 1 100%;
	}
  }
  
  /*# sourceMappingURL=tienda.css.map */
  